# OS
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# sublime text workspace
*.sublime-workspace

# ImGui config files
*.ini

# Nodable
*.log
*.json

# Executables
# *.exe
# *.out
# *.app

# Visual studio
.vs
*.VC.db
*\temp
build/Nodable.vcxproj.user

*.db

_screenshots/
/_build
/out
/install
/out/build/x64-Debug
/build
/nodable/install/
/bin/
/cmake-**
/.idea
.gitconfig
.cache
