# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# sublime text workspace
*.sublime-workspace

# ImGui config files
*.ini

# Nodable
*.log
*.json

# Executables
# *.exe
# *.out
# *.app

bin/linux64/saves/
/.vs
/extern/SDL2
/build/.vs/Nodable/v16
/build/Debug/vc142.pdb
/build/Debug/Nodable.vcxproj.FileListAbsolute.txt
/build/Debug/Nodable.tlog
/build/Debug/Nodable.pdb
/build/Debug/Nodable.ilk
/build/Debug/Nodable.exe
/build/Debug/SDL2.dll
/build/VSProject/obj/x86/Debug/VSProject.tlog
/build/VSProject/.vs/VSProject/v16
