#Alternate default index pages
DirectoryIndex nodable.html index.html

# https://emscripten.org/docs/compiling/WebAssembly.html#web-server-setup

Header add Access-Control-Allow-Origin "nodable.42borgata.com" 
Header add Cross-Origin-Opener-Policy "same-origin"
Header add Cross-Origin-Embedder-Policy "require-corp"
Header add Cross-Origin-Resource-Policy "cross-origin"

Options +MultiViews
RemoveType .gz
AddEncoding x-gzip .gz
AddType application/octet-stream .data
AddType application/wasm .wasm
